<div class="container flightsInfoContainer">
  <div class="row flightsInfoContainer">

    <div class="col-lg-5">
      <h1><span class="label label-info">Outgoing Flights <span class="badge">{{outgoingFlights.length}}</span></span></h1>
        <div ng-repeat="outgoingFlight in outgoingFlights">
          <show-flights flight="outgoingFlight" type="findType(outgoingFlight)" color="findColor(outgoingFlight)" index="$index"> </show-flights>
        </div>
  </div>

    <div class="col-lg-2">
    </div>

    <div class="col-lg-5">
   <h1><span class="label label-danger">Return Flights <span class="badge">{{returnFlights.length}}</span></span></h1>
     <div ng-repeat="returnFlight in returnFlights">
       <show-flights flight="returnFlight" type="findType(returnFlight)" color="findColor(returnFlight)" index="$index"> </show-flights>
  </div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

    <button type="button" class="btn btn-xl btn-sm" style="align: center" ng-disabled="disabled" ng-click="pay()"  >Proceed To Pay</button>
    </div>
  </nav>

</div>
