<div class="container">
  <div class="panel-group" id="accordion" >
    <div>
      <div class="panel-heading">
        <h4 class="panel-title">
          <button class="btn btn-primary"data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
            ng-10</button>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6"><div class="alert alert-info">From: {{ from }}</div></div>
              <div class="col-sm-6"><div class="alert alert-info">To: {{ to }}</div></div>
            </div>

            <div class="row">
              <div class="col-sm-6"><div class="alert alert-info">Flight Number: {{ flightNumber }}</div></div>
              <div class="col-sm-6"><div class="alert alert-info">Airport: {{ airport }}</div></div>
            </div>

            <div class="row">
              <div class="col-sm-6"><div class="alert alert-info">Departure Time: {{ departureTime }}</div></div>
              <div class="col-sm-6"><div class="alert alert-info">Arrival Time: {{ arrivalTime }}</div></div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="alert alert-success">
                  <h2>Cost: {{ cost }} EGP.</h2>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

<!-- delete it later > </!-->

<div class="panel-group" id="accordion2" >
  <div  >
    <div class="panel-heading">
      <h4 class="panel-title">
        <button class="btn btn-primary"data-toggle="collapse" data-parent="#accordion2" data-target="#collapse2">
          ng-11</button>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6"><div class="alert alert-info">From: {{ from }}</div></div>
            <div class="col-sm-6"><div class="alert alert-info">To: {{ to }}</div></div>
          </div>

          <div class="row">
            <div class="col-sm-6"><div class="alert alert-info">Flight Number: {{ flightNumber }}</div></div>
            <div class="col-sm-6"><div class="alert alert-info">Airport: {{ airport }}</div></div>
          </div>

          <div class="row">
            <div class="col-sm-6"><div class="alert alert-info">Departure Time: {{ departureTime }}</div></div>
            <div class="col-sm-6"><div class="alert alert-info">Arrival Time: {{ arrivalTime }}</div></div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="alert alert-success">
                <h2>Cost: {{ cost }} EGP.</h2>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
