
<div class="container" ng-controller="mainController">
    <!-- this is my partial page tokyo -->
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading wow fadeInDown" data-wow-offset="250">Fly</h2>
            <h3 class="section-subheading text-muted wow fadeInDown" data-wow-offset="230">Life is short and the world is wide.</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-5 col-sm-12 col-xs-12">
            <!-- <div class="panel panel-default wow fadeInDown" data-wow-offset="200">
                            <h4 class="fly-heading">Feed your wanderlust</h4>
                        </div> -->
            <div class="panel panel-default wow fadeInDown" data-wow-offset="180">
                <div class="panel-body">
                    <div class="row">
                        <!-- from and to -->
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <input name="originAirports" id="originAirports" type="text" placeholder="Flying From" ng-model="selectedOrigin" uib-typeahead="airport.name for airport in Airports | filter:$viewValue | limitTo:10" class="form-control" , typeahead-on-select="SetOriginAirport($item.iata)">
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <input name="destinationAirports" id="destinationAirports" type="text" placeholder="Flying To" ng-model="selectedDestination" uib-typeahead="airport.name for airport in Airports | filter:$viewValue | limitTo:10" class="form-control" , typeahead-on-select="SetDestinationAirport($item.iata)">
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="departureDate" placeholder="Outbound" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                      <button type="button"
                              class="btn btn-default"
                              ng-click="open1()">
                              <i class="glyphicon glyphicon-calendar"></i>
                     </button
                    </span>
                            </p>
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="returnDate" placeholder="Return" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                  </button>
                                </span>
                            </p>
                        </div>

                    </div>
                </div>
                <div class="row text-center wow pulse" data-wow-iteration="999" data-wow-offset="60" style="margin-bottom: 10px">
                    <button type="button" class="btn btn-xl btn-md" id='btnSearch' ng-click='SearchFlights()'>Search Flights</button>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- <span class="fa-stack "> -->
                    <i class="fa fa-plane fa-inverse wow slideInLeft" data-wow-offset="200" id="theGlobe"></i>
                    <!-- </span> -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- <span class="fa-stack "> -->
                    <i class="fa fa-globe fa-inverse wow slideInRight" data-wow-offset="200" id="thePlane"></i>
                    <!-- </span> -->
                </div>
            </div>
        </div>

    </div>
</div>
