<!--

  <div class="container">
    <div class="row">
      <p>{{outgoingFlightDate}} is outgoing Flight Date</p>
      <p>{{outgoingFlightNumber}} is outgoing Flight Number</p>
      <p>{{returnFlightDate}} is return Flight Date</p>
      <p>{{returnFlightNumber}} is return Flight Number</p>
      <form ng-submit="book()">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>

        <div class="col-lg-6">


          <div class="row">
            <div class="container" >
              <div class="col-xs-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Fill this form <small style="color: red">SwissAir</small></h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <label>first name</label>
                        <input type="text" name="first_name" id="first_name" class="form-control input-sm floatlabel"  ng-model="firstName" ng-required="true" >
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <label>last name</label>
                        <input type="text" name="last_name" id="last_name" class="form-control input-sm" ng-model="lastName" ng-required="true">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" id="email" class="form-control input-sm" ng-required="true" ng-model="email">
                  </div>

                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <label for="sel1">Passport Country</label>
                        <select name="repeatSelect" id="repeatSelect" ng-model="passCountry" ng-required="true">
                          <option ng-repeat="country in countries" value="{{country}}">{{country}}</option>
                        </select>

                      </div>
                    </div><br>
                    <div class="col-xs-6 col-sm-6 col-md-6" style="margin-top: 30px ;margin-left:-180px">
                      <div class="form-group">
                          <label>issue month and year</label>
                          <input type="month" name="year" ng-model="issueDate" ng-required="true">
                          <label>exp. month and year</label>
                          <input type="month" name="year" ng-model="expDate" ng-required="true">
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>




          <div class="row">
            <div class="container" >
                <div class="col-xs-12 col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                        <img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png">Payment Details</h3> </div>
                        <div class="panel-body">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="form-group">
                                  <label for="cardNumber">CARD NUMBER</label>
                                  <div class="input-group">
                                    <input type="number" class="form-control" name="cardNumber" placeholder="Valid Card Number" required autofocus data-stripe="number" ng-model="cardnumber" />

                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-7 col-md-7 ">
                                <div class="form-group">
                                  <label for="expMonth">EXPIRATION DATE</label>
                                  <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="number" min="1" max="12" class="form-control" name="expMonth" placeholder="MM" required data-stripe="exp_month" ng-model="cardExpMonth" />

                                  </div>
                                  <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="number" min="00" max="99" class="form-control" name="expYear" placeholder="YY" required data-stripe="exp_year" ng-model="cardExpYear"/>
                                  </div>

                                </div>
                              </div>
                              <div class="col-xs-5 col-md-5 ">
                                <div class="form-group">
                                  <label for="cvCode">CV CODE</label>
                                  <input type="number" class="form-control" name="cvCode" placeholder="CV" required data-stripe="cvc" ng-model="cvv"/>

                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="form-group">
                                  <label for="couponCode">COUPON CODE</label>
                                  <input type="text" class="form-control" name="couponCode" ng-required="true " ng-model="Coupon"/>

                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12">
                                <button class="btn btn-success btn-lg btn-block" type="submit" id="submit" value="Submit"> Book</button>
                              </div>
                              <div>
                                {{reply}}
                              </div>
                            </div>
                            <div class="row" style="display:none;">
                              <div class="col-xs-12"> <p class="payment-errors"></p>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
            <div class="col-lg-6">  </div>
          </form>
        </div>
      </div>
 -->

<section class="container" id="paymentContainer">
    <div class="row paymentInfoContainer">
        <div class="col-xs-12 col-sm-12 col-md-7">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">PAYMENT INFORMATION</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">CREDIT CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="cardNumber" placeholder="Valid Card Number" required autofocus data-stripe="number" ng-model="cardnumber" />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-7">
                                <div class="form-group">
                                    <label for="expDateInputGroup">EXPIRATION DATE</label>
                                    <div class="input-group" id="expDateInputGroup">
                                        <input type="number" min="1" max="12" class="form-control" name="expMonth" placeholder="MM" required data-stripe="exp_month" ng-model="cardExpMonth" />
                                        <input type="number" min="00" max="99" class="form-control" name="expYear" placeholder="YY" required data-stripe="exp_year" ng-model="cardExpYear" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-5">
                                <div class="form-group">
                                    <label for="cvCode">CV CODE</label>
                                    <input type="number" class="form-control" name="cvCode" placeholder="CV" required data-stripe="cvc" ng-model="cvv" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label for="couponCode">COUPON CODE</label>
                                    <input type="text" class="form-control" name="couponCode" ng-required="true " ng-model="Coupon" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5">
            <!-- Carousal -->
        </div>
    </div>
    <!-- End Payment INFO CONTAINER -->

    <div class="row passengerInfoContainer">
        <div class="col-lg-12 passengerInfo">

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">PASSENGER INFORMATION</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="first_name">first name</label>
                                    <input type="text" name="first_name" id="first_name" class="form-control input-sm floatlabel" ng-model="firstName" ng-required="true">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="last_name">last name</label>
                                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" ng-model="lastName" ng-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="passport_number"></label>
                                <input type="text" name="passport_number" id="passport_number" class="form-control input-sm floatlabel" ng-model="passportNumber" ng-required="true">
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="dob"></label>
                                <input type="text" name="dob" id="dob" class="form-control input-sm floatlabel" ng-model="dob" ng-required="true">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 cols-sm-6 col-md-7">
                            <div class="form-group">
                                <label for="sel1">Nationality</label>
                                <select name="repeatSelect" id="repeatSelect" ng-model="passCountry" ng-required="false">
                                    <option ng-repeat="country in countries" value="{{country}}">{{country}}</option>
                                </select>
                            </div>
                          </div>
                          <div class="col-xs-12 cols-sm-6 col-md-5">
                            <div class="form-group">
                              <div class="input-group">
                                <label for="issueDate">issue month and year</label>
                                <input type="month" name="year" ng-model="issueDate" id="issueDate" ng-required="false">
                                <label for="expDate">exp. month and year</label>
                                <input type="month" name="year" ng-model="expDate" id="expDate" ng-required="false">
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- ./PASSENGER INFO -->
    </div>
<!-- ./ INFO CONTAINER -->

</section>
