<p ng-message="required">This field is required.</p>
<p ng-message="minlength">This field is too short.</p>
<p ng-message="maxlength">This field is too long.</p>
<p ng-message="required">This field is required.</p>
<p ng-message="email">This needs to be a valid email.</p>
<p ng-message="mindate">This date is too early.</p>
<p ng-message="maxdate">This needs to be an earlier date.</p>
<p ng-message="date">This needs to be a valid date.</p>
<p ng-message="max">This exceeds the maximum value allowed.</p>
<p ng-message="min">This is less than the minimum value allowed.</p>
<p ng-message="number">This field has to be in numbers.</p>
