<div class = "row">
<div class = "col-xs-12 col-sm-6 col-md-6">
<div ng-repeat="passenger in booking.passengerDetails">
  <booking-passenger  passenger="passenger" index="$index+1"></booking-passenger>
</div>
</div>

<div class = "col-xs-12 col-sm-6 col-md-6">
<p>Cost : {{booking.cost|currency}}</p>
<p>Booking Number : {{booking.refNum}}</p>
<p>Outgoing Flight ID : {{booking.outgoingFlightId}}</p>
<p>Return Flight ID : {{booking.returnFlightId}}</p>
<p>Class : {{booking.class}}</p>

<p> Outgoing Seat(s):</p>
<div ng-repeat="seat in booking.outgoingSeats">
  <p>{{seat.seatNum}}</p>
</div>

<p> Return Seat(s):</p>
<div ng-repeat="seat in booking.returnSeats">
  <p>{{seat.seatNum}}</p>
</div>

</div>

</div>
