body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.initial-position{
  text-align: center;
  top: 70px;
  height: 50px;
  z-index: 999;
  width: 97%;
}
.wrapperbutton{
  text-align: center;
}
.fix-to-top {
    position: fixed;

    top: 70px;
    height: 50px;
    z-index: 999;
    width: 80%;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
.text-muted {
    color: #777
}
.text-primary {
    color: #E42812
}
p {
    font-size: 14px;
    line-height: 1.75
}
p.large {
    font-size: 16px
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0
}
a {
    color: #E42812
}
a:hover,
a:focus,
a:active,
a.active {
    color: #E42812
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}
.img-centered {
    margin: 0 auto
}
.bg-light-gray {
    background-color: #f7f7f7
}
.bg-darkest-gray {
    background-color: #222
}
.btn-primary {
    color: #fff;
    background-color: #E42812;
    border-color: #E42812;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #E42812;
    border-color: #f6bf01
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #E42812;
    border-color: #E42812
}
.btn-primary .badge {
    color: #E42812;
    background-color: #fff
}



.btn-xl {
    color: #fff;
    background-color: #E42812;
    border-color: #E42812;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #E42812;
    border-color: #f6bf01
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #E42812;
    border-color: #E42812
}
.btn-xl .badge {
    color: #E42812;
    background-color: #fff
}

.btn-md {
  font-weight: 500;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px 10px
}

.btn-sm {
  font-weight: 200;
  border-radius: 2px;
  font-size: 12px;
  padding: 5px 5px
}

.btn-xs {
  font-weight: 150;
  border-radius: 2px;
  font-size: 10px;
  padding: 3px 3px
}

.navbar-default {
    background-color: ##f8f8f8;
    opacity: 0.8;
    border-color: transparent
}
.navbar-default .navbar-brand {
    color: #E42812;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #E42812
}
.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02)
}
.navbar-default .navbar-toggle {
    background-color: #E42812;
    border-color: #E42812
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #E42812
}
.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #E42812;
    outline: 0
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #E42812
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #E42812
}
@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px
    }
    .navbar-default.navbar-shrink {
        background-color: #F8F8F8;
        padding: 10px 0
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }
}



header .bigImg {
    background-image: url(http://i.imgur.com/MTzkNvF.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #E42812
}
 .intro-text {
    padding-top: 100px;
    padding-bottom: 50px
}
 .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px
}
 .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px
}
@media (min-width: 768px) {
     .intro-text {
        padding-top: 300px;
        padding-bottom: 200px
    }
     .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px
    }
     .intro-text .intro-heading {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px
    }
}
section {
    padding: 100px 0
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
}
section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 50px
}
@media (min-width: 768px) {
    section {
        padding: 100px 0
    }
}
.fly-heading {
    margin: 15px 0;
    text-transform: none
}
.timeline {
    list-style: none;
    padding: 0;
    position: relative
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #ff4d4d;
    left: 40px;
    margin-left: -1.5px
}
.timeline>li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px
}
.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table
}
.timeline>li:after {
    clear: both
}
.timeline>li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left
}
.timeline>li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}
.timeline>li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}
.timeline>li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #ff4d4d;
    color: #fff;
    border-radius: 100%;
    border: 7px solid #ff4d4d;
    text-align: center
}
.timeline>li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px
}
.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px
}
.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}
.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}
.timeline>li:last-child {
    margin-bottom: 0
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit
}
.timeline .timeline-heading h4.subheading {
    text-transform: none
}
.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    text-align: left
}
@media (min-width: 768px) {
    .timeline:before {
        left: 50%
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px
    }
    .timeline>li .timeline-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right
    }
    .timeline>li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px
    }
    .timeline>li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px
    }
}
@media (min-width: 992px) {
    .timeline>li {
        min-height: 150px
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px
    }
    .timeline>li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px
    }
}

@media (min-width: 1200px) {
    .timeline>li {
        min-height: 170px
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px
    }
}
.team-member {
    text-align: center;
    margin-bottom: 50px
}
.team-member img {
    margin: 0 auto;
    border: 7px solid #ff4d4d
}
.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none
}
.team-member p {
    margin-top: 0
}
aside.clients img {
    margin: 50px auto
}
section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat
}
section#contact .section-heading {
    color: #fff
}
section#contact .form-group {
    margin-bottom: 25px
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px
}
section#contact .form-group input.form-control {
    height: auto
}
section#contact .form-group textarea.form-control {
    height: 236px
}
section#contact .form-control:focus {
    border-color: #E42812;
    box-shadow: none
}
section#contact::-webkit-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact:-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact::-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact:-ms-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact .text-danger {
    color: #e74c3c
}
footer {
    padding: 25px 0;
    text-align: center
}
footer span.copyright {
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}
ul.social-buttons {
    margin-bottom: 0
}
ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #E42812
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0
}

::-moz-selection {
    text-shadow: none;
    background: #E42812
}
::selection {
    text-shadow: none;
    background: #E42812
}
img::selection {
    background: 0 0
}
img::-moz-selection {
    background: 0 0
}
body {
    webkit-tap-highlight-color: #E42812
}


/*Glymphs in main view*/

/*@media screen and (min-width: 300px) {
    #thePlane {
        font-size: 170px;
        color:#ff4d4d;
    }*/

/*@media screen and (min-width: 990px) {*/
    #thePlane {
        font-size: 300px;
        color:#ff4d4d;
        z-index: -10;
    }
/*}*/

/*@media screen and (min-width: 990px) {*/
    #theGlobe {
        font-size: 300px;
        color:#ff4d4d;
    }
/*}*/



.mainFormContainer{
    padding-left: 10px;
}

@media screen and (max-width: 480px) {
  .mainFormContainer{
    padding-left: 30px;
    padding-right: 30px
  }
}



@media screen and (max-width: 991px) {
.animatedGlymph{
  display: none;
}

.mainFormContainer{
  padding-left: 50px;
  padding-right: 50px
}

}


/*Main Form*/

.searchFormInput{
  margin-top:10px;
}

.ng-invalid.ng-dirty{
  border-color: #FA787E;
}

.ng-submitted .ng-invalid-required{
  border-color: #FA787E;
}

/*Other Airlines CheckBox*/
#otherAirlines{
  margin-left: 20px;
}



/*swissair gig panels*/

.gig .panel-heading+.panel-collapse>.list-group,
.gig .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}
.mainData .panel-group {
    margin-bottom: 0px;
}
.mainData .gig {
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 0px;
    background-color: #fff;
}
.gig .panel-title {
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}
.gig .panel-body {
    color: black;
    font-size: 12px;
    font-weight: lighter;
    padding-top: 15px;
}
.gig h6 {
    font-size: 16px;
    font-weight: bold;
}
.gig-navigateLink {
    text-align: left;
    font-weight: bold;
}
.gig-navigateLink hr {
    margin-top: 10px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
    .gig-navigateLink {
        text-align: left;
    }
}
@media only screen and (min-width: 320px) {
    .gig-left .row,
    .gig-right .row{
        margin-left: 30px;
        margin-right: 30px;
    }

}
@media only screen and (min-width: 768px) {
    .gig-left .row{
        margin-left: 50px;
    }
    .gig-right .row{
        margin-right: 50px;
    }
}

@media only screen and (min-width: 991px) {
    .gig-left .row {
        margin-left: 16px;
    }
    .gig-right .row{
        margin-right: 10px;
    }
}

/*flights view*/

@media only screen and (min-width: 320px) {
    .flightsInfoContainer .left,
    .flightsInfoContainer .right{
      margin-left: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .flightsInfoContainer .left,
  .flightsInfoContainer .right{
    margin-left: 0px;
  }

  .flightsInfoContainer .left{
    padding-right: 20px;
  }
  .flightsInfoContainer .right{
    padding-left: 20px;
  }
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}



/*  PAYMENT INFO   */

.slider-size {
height: 340px; /* This is your slider height */
}
.carousel {
width:100%;
margin:0 auto; /* center your carousel if other than 100% */
}

@media only screen and (max-width:768px) {
.carouselContainer{
  padding: 0px;
  margin-left: -15px;
  margin-right: -15px;
}
.carousel{
margin-right: -15px;
}
}


.flex-start{
  display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}


.space-around{
  display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.space-between,
#expDateInputGroup{
  display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}



#expMonth{
  margin-right: 10px;
}

#expYear{
  margin-left: 10px;
}


@media only screen and (max-width:768px) {
  .issueAndExpDates{
    display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
  }
}


.passengerInfo{
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width:768px) {
  .passengerInfo{
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .passengerInfo{
    padding-left: 80px;
    padding-right: 80px;
  }
}

.countryContainer select{
    max-width: 100%
}

#issueAndExpDates .input-group input{
  max-width: 150px
}

.panel-info-swiss{
  border-color: rgb(228,40,18);
}
.panel-info-swiss .panel-heading {
    color: #fff;
    background-color: rgb(228,40,18);
    font-weight: bolder;
    font-size: 20px;
}
.panel-info-swiss .panel-body {
    color: black;
    font-size: 12px;
    font-weight: lighter;
    padding-top: 15px;
}

.panel-info-swiss label{
  color: rgb(228,40,18);
}

.paymentContainer .intro-text .intro-lead-in{
  text-align: center;
}

.paymentContainer .intro-text{
  padding-top: 0px;
  padding-bottom: 50px;
}

.pagination li.seats a {
    background: white;
    color: #ed5249;
}
/*./ PAYMENT INFO*/
