/* Empty. Add your own CSS if you like */
.login {
background: url() no-repeat center;
background-size:100%;
}
.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #444;
}
.box1{
   height: 300px;
   border: 2px ;
}


/*Payment Styling*/


.swiss-center{
margin-left: auto;
margin-right: auto;
display: block;
}

.credCardImgContainer img{
  width: auto;
  max-width: 150px;
}


/*Form Validation*/
label.item.has-error-lr,
label.item.has-error {
  border-bottom: 2px solid red;
}


label.item.valid-lr {
  border-bottom: 2px solid green;
}
/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}
